@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: $colorPrimary;
}

.text-center {
  text-align: center;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.movie-list {
  margin: auto;
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(200px, 1fr) );
  grid-gap: 2rem;
  padding: 2rem 0;
}

.home-brand {
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-size: 3.5rem;
  color: $colorAccent2;
  font-family: $fontPrimary;
}

.container {
  margin: auto;
  width: 90%;
  max-width: 1440px;
}