@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: $colorPrimary;
}

.text-center {
  text-align: center;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}